<section class="component">
	<div class="container page">
		<div class="page-history">
			<div class="page-content">
				<div class="wg-breadcrumb clearfix">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item home" aria-current="page"><a href="<?php echo ROOTHOST;?>"></a></li>
							<li class="breadcrumb-item" aria-current="page">Giới thiệu</li>
						</ol>
					</nav>
				</div>

				<div class="main-content">
					<h1 class="page-title">Lời chào mừng</h1>

					<div class="flex ngobaochau-intro">
						<div class="avatar">
							<img src="http://localhost/viasm.edu/images/ngo-bao-chau.jpg" alt="">
						</div>
						<div class="metadata">
							<h1 class="name">GS. TSKH. NGÔ BẢO CHÂU</h1>
							<div class="job">Giám đốc khoa học</div>
						</div>
					</div>
					<div class="light16pt mb-5">
						Amet eget at molestie gravida dui in nulla accumsan et. Volutpat parturient lorem vestibulum senectus mattis ut pharetra. Porta enim viverra sapien eu, morbi pellentesque. Suspendisse eget convallis odio accumsan sapien risus. Egestas sem egestas eget risus. Bibendum diam, dignissim risus tellus, a at in vestibulum sollicitudin. Leo cursus accumsan, volutpat ullamcorper ut et pharetra accumsan. Sed commodo netus arcu euismod morbi malesuada ornare. Accumsan imperdiet sed enim in nullam. Adipiscing facilisis congue viverra donec vulputate mattis pellentesque. Eget id porttitor in nunc ultrices dapibus eget vulputate eu. Nullam feugiat sed quis est sapien.
						Pretium volutpat vestibulum ornare scelerisque sem praesent. Lacinia enim dui elit viverra risus tincidunt pellentesque. Elit sapien aliquet fames nulla eu ac malesuada mi sed. Feugiat facilisi integer eget augue risus laoreet dui, scelerisque faucibus. Euismod at proin nisl, consequat. Nunc a ut amet, in. Odio duis sed sed lectus. Eget nisi, quis amet gravida pharetra commodo id. Non viverra id aliquam vitae lobortis. Tincidunt felis, turpis dolor quis porta neque amet. Mi scelerisque donec lacus tempor erat eget. In porta sit donec praesent commodo. A vitae elementum nulla magna semper vestibulum. Senectus sagittis vitae sagittis, vulputate. Dictumst velit adipiscing integer duis.
						Vitae elementum amet turpis ornare quis. Donec enim interdum amet vestibulum vel quis eget cursus in. Enim feugiat vitae, gravida eu amet, consectetur placerat tortor, maecenas. Lacus, vulputate pharetra neque elit turpis consectetur eu iaculis. Amet praesent mauris eros, mollis ornare ac. Tincidunt nisi, nulla cursus arcu enim, leo ipsum. Felis quam vivamus condimentum magna est sit dignissim sed accumsan. Risus massa, nibh eget cum velit rutrum. Volutpat pellentesque quisque orci risus nec, aliquet cum ut mauris. Orci et eu amet eget. Mauris vel ipsum ipsum, at netus. Donec suspendisse arcu tortor vel potenti. A amet cursus tellus quis id maecenas amet duis. Mauris eu facilisi lacus sem amet ultrices ultrices enim. Pharetra tincidunt egestas sed pharetra aliquam.
					</div>

					<div class="list-work-history">
						<div class="work-history-header medium20pt line48after">MỘT VÀI DẤU MỐC LỊCH SỬ QUAN TRỌNG</div>
						<div class="list">
							<div class="work-history-item">2006, Việt Nam họp bàn đăng cai tổ chức IMO 48</div>
							<div class="work-history-item">2007, IMO</div>
							<div class="work-history-item">Xây dựng đề án</div>
							<div class="work-history-item">17/08/2010, TTCP phê duyệt CTT</div>
							<div class="work-history-item">23/12/2010, TTCP quyết định thành lập VIASM</div>
						</div>
					</div>

					<div class="list-bookcase">
						<div class="bookcase-header medium20pt line48after">MỘT VÀI CUỐN SÁCH CỦA GS. TSKH. NGÔ BẢO CHÂU</div>
						<div class="list">
							<div class="bookcase-item">
								<div class="box">
									<div class="wrap-thumb" data-src="http://localhost/viasm.edu/medias/images/image-9.jpg">
										<a href="" title=""><img src="http://localhost/viasm.edu/medias/images/image-9.jpg" alt=""></a>
									</div>
								</div>
								<div class="metadata">
									<h3 class="name">Cuộc phiêu lưu kỳ diệu của Nils</h3>
									<div class="author">Tác giả: Selma Lagrelof</div>
									<div class="trans">Dịch: Hoàng Thiếu Sơn</div>
								</div>
							</div>
							<div class="bookcase-item">
								<div class="box">
									<div class="wrap-thumb" data-src="http://localhost/viasm.edu/medias/images/image-7.jpg">
										<a href="" title=""><img src="http://localhost/viasm.edu/medias/images/image-7.jpg" alt=""></a>
									</div>
								</div>
								<div class="metadata">
									<h3 class="name">René Leys - Người tình trẻ trong Tử Cấm Thành</h3>
									<div class="author">Tác giả: Victor Segalen</div>
									<div class="trans">Dịch: Quế Sơn</div>
								</div>
							</div>
							<div class="bookcase-item">
								<div class="box">
									<div class="wrap-thumb" data-src="http://localhost/viasm.edu/medias/images/image-8.jpg">
										<a href="" title=""><img src="http://localhost/viasm.edu/medias/images/image-8.jpg" alt=""></a>
									</div>
								</div>
								<div class="metadata">
									<h3 class="name"> Phải trái đúng sai</h3>
									<div class="author">Tác giả: Michael Sandel</div>
									<div class="trans">Dịch: Hồ Đắc Phương</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>