RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?$ 							index.php [QSA]
RewriteRule ^trang-chu/?$ 					index.php [QSA]
RewriteRule ^tim-kiem/?$ 					index.php?com=search [QSA]
RewriteRule ^lien-he/?$ 					index.php?com=contact
RewriteRule ^gioi-thieu-ve-chung-toi/?$ 	index.php?com=html&viewtype=gioi-thieu&code=gioi-thieu

# Product
RewriteRule ^khuyen-mai/?$ 							index.php?com=product&viewtype=list_sale [QSA]
RewriteRule ^san-pham-moi/?$ 						index.php?com=product&viewtype=list [QSA]
RewriteRule ^san-pham/?$      						index.php?com=product&viewtype=list [QSA]
RewriteRule ^san-pham/([0-9a-zA-Z\-]+)/?$   							index.php?com=product&viewtype=block&pgroup=$1 [QSA]
RewriteRule ^san-pham/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/?$   			index.php?com=product&viewtype=block&pgroup=$1&type=$2 [QSA]
RewriteRule ^san-pham/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+)/?$  	index.php?com=product&viewtype=detail&group=$1&alias=$2&id=$3 [QSA]

# Product
RewriteRule ^checkout/?$ 							index.php?com=order&viewtype=detail [QSA]

# Contents
RewriteRule ^tin-tuc/?$      										index.php?com=contents&viewtype=list [QSA]
RewriteRule ^tin-tuc/([0-9a-zA-Z\-]+)/?$      						index.php?com=contents&viewtype=block&alias=$1 [QSA]
RewriteRule ^tin-tuc/([0-9a-zA-Z\-]+)-([0-9]+).html/?$  index.php?com=contents&viewtype=detail&alias=$1&id=$2 [QSA]
RewriteRule ^tin-tuc/chi-tiet-bai-viet-10.html/?$  		index.php?com=contents&viewtype=detail&alias=$1&id=$2 [QSA]


php_flag display_errors  on
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_input_time 300
php_value max_execution_time 300

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>