RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?$ 							index.php [QSA]
RewriteRule ^trang-chu/?$ 					index.php [QSA]
RewriteRule ^tim-kiem/?$ 					index.php?com=search [QSA]

RewriteRule ^gioi-thieu/?$ 					index.php?com=html&viewtype=gioi-thieu&code=gioi-thieu
RewriteRule ^lich-su/?$ 					index.php?com=html&viewtype=lich-su [QSA]
RewriteRule ^co-cau-to-chuc/?$ 				index.php?com=html&viewtype=co-cau-to-chuc [QSA]
RewriteRule ^co-so-vat-chat/?$ 				index.php?com=html&viewtype=co-so-vat-chat [QSA]

# Event
RewriteRule ^hoat-dong-khoa-hoc/([0-9a-zA-Z\-]+)/?$    							index.php?com=event&viewtype=block&alias=$1 [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+)/?$     					index.php?com=event&viewtype=detail&group=$1&id=$3 [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)-([0-9]+)/chi-tiet/([0-9a-zA-Z\-]+)-([0-9]+)/?$    index.php?com=event&viewtype=event_detail&per_id=$2&detail_id=$4 [QSA]


#Personnel
RewriteRule ^nhan-su/([0-9a-zA-Z\-]+)/?$      							index.php?com=personnel&viewtype=block&alias=$1 [QSA]
RewriteRule ^nhan-su/([0-9a-zA-Z\-]+).html/?$							index.php?com=personnel&viewtype=detail&alias=$1 [QSA]


#Publish
RewriteRule ^xuat-ban/([0-9a-zA-Z\-]+)/?$      							index.php?com=publish&viewtype=block&alias=$1 [QSA]
RewriteRule ^xuat-ban/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+)/?$		index.php?com=publish&viewtype=detail&group=$1&alias=$2&id=$3 [QSA]


#Bookcase
RewriteRule ^tu-sach/([0-9a-zA-Z\-]+)-([0-9]+)/?$		index.php?com=bookcase&viewtype=detail&alias=$1&id=$2 [QSA]


# Contents
RewriteRule ^tin-tuc/([0-9a-zA-Z\-]+)/?$      						index.php?com=contents&viewtype=block&alias=$1 [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+).html/?$   	index.php?com=contents&viewtype=detail&cate=$1&alias=$2&id=$3 [QSA]



php_flag display_errors  on
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_input_time 300
php_value max_execution_time 300

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>